<span class="<%= if @contract do %>contract-address<% end %>">
  <%= if name = primary_name(@address) do %>
    <span class="d-none d-md-none d-lg-inline" title="<%= @address.hash %>"><%= name %></span>
    <span class="d-md-inline-block d-lg-none " title="<%= @address.hash %>"><%= name %></span>
  <% else %>
    <span class="d-none d-md-none d-lg-inline"><%= @address.hash %></span>
    <span class="d-md-inline-block d-lg-none "><%= BlockScoutWeb.AddressView.trimmed_hash(@address.hash) %></span>
  <% end %>
</span>
